@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Orders</h2>
<div class="row">
    <div class="col-md-8">

        @if (!Model.Orders.Any())
        {
            <div class="alert alert-info" role="alert">
                No Orders Found
            </div>
        }
        else
        {
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Submitted On</th>
                    <th>Processed On</th>
                    <th>Cancel</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <th scope="row">@order.OrderId</th>
                        <td>@order.SubmittedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@order.ProcessedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@if (!order.Accepted)
                            {
                                using (Html.BeginForm("Cancel", "Home", new { order.OrderId }, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-warning btn-sm">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Cancel
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Order", "Home", FormMethod.Post))
        {
            <button type="submit" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Order now
            </button>
        }
    </div>
</div>