@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Order", "Home", FormMethod.Post))
        {
            <button type="submit" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Order now
            </button>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            @Html.ValidationSummary("Errors:", new { @class = "alert alert-danger" })
        }
        else if (@Model != null)
        {
            <div class="alert alert-success">Order id @Html.Raw(Model.OrderId) submitted!</div>
        }
    </div>
</div>