@model OrderViewModel
@{
    ViewData["Title"] = "Order Result";
}

<h2>Order Submitted</h2>
<div class="row">
    <div class="col-md-8">
    @foreach (var error in Model.Errors)
    {
        <div class="alert alert-danger">@error</div>
    }
    @if (Model.NewOrder != null)
    {
        <div class="alert alert-success">Order with Id @Html.Raw(Model.NewOrder.OrderId) is being processed!</div>
    }
    @Html.ActionLink("Back", "Index")
    </div>
</div>